{% with messages = get_flashed_messages(category_filter=['success']) %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show my-3 p-4 rounded shadow-sm" role="alert">
  <div class="d-flex align-items-center mb-2">
    <h4 class="alert-heading mb-0 me-2">Sucesso</h4>
    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <hr class="mt-2 mb-3">
  {% for message in messages %}
  <p class="ms-1 mb-1">{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}